---
import IconLinks from "../components/IconLinks.astro";
---

<section>

    <div class="border border-gray-600 rounded-lg p-4 mt-6 text-xs bg-black">

        <div class="flex items-center mb-2">
            <span class="text-primary mr-2">$</span>
            <span class="text-gray-100">npx connect</span>
        </div>

        <div class="text-gray-400 mt-2">
            Initialising...
            <br>
            Ready to connect.
            <br>
            Waiting for contact request...
        </div>

    </div>

    <IconLinks />

</section>